.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #333;
  color: #fff;
  padding: 30px;
  margin: auto;
  height: 500px;
  justify-content: center;
  text-align: center;
}
.App-header ul{
  list-style-type: none;
}

.App-content {
  margin-top: 40px;
  background-color: #5C469C;
}
.App-content h2{
  color: white;
}
.Product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.Product-card {
  background-color: #D4ADFC;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.Product-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.Product-details {
  text-align: left;
}

.Product-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.Product-button:hover {
  background-color: #555;
}

.App-footer {
  margin-top: 40px;
  color: #888;
}

.navbar{
  list-style-type: none;
  margin: 0px;
  padding :10px;
  overflow:hidden;
  background-color: #0C134F;
  margin-bottom: 12px;
}
.navbar li{
  float: left;
  padding: 20px;
  color: white;
}
.navbar li a{
  display: block;
  padding:20px;
}